[Unit]
Description=Celery Beat Service
After=network.target

[Service]
Type=simple
User=netadmin
Group=netadmin
EnvironmentFile=/etc/default/netadmin-beat
WorkingDirectory=/opt/netadmin/netadmin
ExecStart=/usr/bin/env sh -c '${CELERY_BIN} -A ${CELERY_APP} beat  --pidfile=${CELERYBEAT_PID_FILE} --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'
Restart=always

[Install]
WantedBy=multi-user.target
